@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#header1-5 H1 {
  font-family: 'Oswald', sans-serif;
}
#header1-5 .btn {
  font-size: 18px;
}
#msg-box4-a .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#features1-1f .mbr-section-title .mbr-header__text {
  font-size: 36px;
}
#slider-1e P {
  font-size: 16px;
}
#slider-1e H1 {
  font-size: 25px;
}
#header4-6 .btn {
  font-size: 18px;
}
#content5-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-article {
  color: #fff;
}
#content5-g .mbr-article P {
  font-size: 9px;
}
#msg-box4-1k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1k .mbr-article {
  color: #ffffff;
}
#msg-box5-1o .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1o .mbr-article {
  color: #ffffff;
}
#features1-e .mbr-section-title .mbr-header__text {
  font-size: 36px;
  color: #000000;
}
#menu-1g .mbr-brand__name {
  font-size: 16px;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
